.buttons {
  text-align: right;
  margin-top: 10px;
  button{
    background: none;
    border: none;
    color: #2ca89d;
    margin-right: 10px;
  }
}

.content {
  font-size: 1em;
  overflow: hidden;
}

.alert {
  a {
    color: #666;
  }
}