@import "../../css/_var";

.header {
  background-color: $headerBgColor;
  width: 100%;
  position: absolute;
}

.header + iframe, .header + div {
  padding-top: .66rem;
}

.top {
  height: 22px;
  width: 100%;
}

.title-box {
  position: relative;
  text-align: center;
  height: 44px;
  line-height: 44px;
  width: 100%;
  font-size: 14px;
}

.title {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: .14rem;
  color: $headerColor;
}

.left-btn {
  position: absolute;
  left: .1rem;
  height: 100%;
  color: $buttonBorderColor;
}

.left-btn-icon {
  padding-left: .15rem;
  margin-left: .2rem;
  min-width: .3rem;
  background-image: url('../../images/back.png');
  background-position: left center;
  background-size: .08rem .15rem;
  background-repeat: no-repeat;
}

.right-btn {
  position: absolute;
  right: .1rem;
  font-size: 12px;
  color: #fff;
}

.title-btn-box {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  border: solid 1px $headerColor;
  button {
    height: 100%;
    padding: 0 10px;
    &:not(:first-child) {
      border-left: solid 1px $headerColor;
    }
  }
}

.active {
  color: $headerBgColor;
  background-color: $headerColor;
}