$inputHeight: .48rem;
$inputFontSize: .16rem;
$inputBottomColor: #e3e3e5;
$inputColor: #333;
$buttonBorderColor: #2f89eb;
$headerBgColor: #fff;
$headerColor: #333;
$notAllowedBgColor: #aaa;
$notAllowedtextColor: #ccc;
$loginSubmitColor: #2f89eb;