@import "normalize";
@import "var";

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: PingFang-SC-Medium;
}

html {
  font-size: 625%; /*10 ÷ 16 × 100% = 62.5%*/
}

body {
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: .12rem;
}

input, button {
  background-color: transparent;
}

#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  & > div {
    padding-top: .1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li, ol, h3, table, td, th, tr {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.active {
  border-bottom: 3px solid $buttonBorderColor !important;
}

img {
  border: none;
  vertical-align: middle;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}

* html .clearfix:after {
  height: 1%;
}

.clearfix {
  *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

a {
  text-decoration: none;
}

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.box {
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.indend-2 {
  text-indent: 2em;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.text-bold {
  font-weight: bold;
  margin-top: .1rem;
}

.text-right {
  text-align: right;
}

.text-title {
  margin-top: .1rem;
}